@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

*{
box-sizing: border-box;
}

/*По БЭМ не разрешаеться использовать обращение по селекторам, только классы*/
body{
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1;
}

.slide{
	max-width: 800px;
	width: 100%;
	margin: auto;
	text-align: center;
	background: url(../img/background.png);
	background-size: cover;
}

.slide__container{
	display: inline-block;
	width: 85.75%;
	/* Обьединяй в одно св-во*/
	margin-top: 109px;
	margin-bottom: 100px;
	margin-left: 7.875%;
	margin-right: 6.375%;
	text-align: left;
	background: #031324;
	border-radius: 8px;
}

.slide__container header{
	margin-top: 24px;
	width: 100%;
	text-align: left;
	padding-left: 21px;
}

header img{
	display: block;
    max-width: 100%;
    height: auto;
}

.slide__item{
	display: inline-block;
	width: 47.96%;
	margin-top: 70px;
	vertical-align: top;
	margin-left: 5.25%;
}

.slide__item img{
	display: block;
    max-width: 100%;
    height: auto;
}

.slide__buttons{
	display: inline-block;
	width: 100%;
	height: 16px;
	text-align: center;
	font-size: 0;
	/*Если указываешь единицы измерения пиксели то разрешины только целые числа*/
	margin-top: 72.5px;
	margin-bottom: 15px;
	padding-left: 22px;
}

.slide__but{
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	box-sizing: border-box;
}


.slide__but.dark{
	background: #1f273f;
	margin-right: 11.5px;
}

.slide__but.white{
	background: #fff;
	margin-right: 8px;
}

.slide__but.red{
	background: #ed3333;
	margin-right: 10px;
}

.slide__but.blue{
	background: #29e3ea;
}

.slide__but:hover{
	transform: scale(1.333);
}





.slide__discription{
	display: inline-block;
	width: 26.82%;
	margin-left: 11.2%;
	vertical-align: top;
	text-align: left;
	margin-top: 18px;
}

.slide__discription h1{
	font-size: 24px;
	font-weight: 300;
	line-height: 26px;
	margin: 0;
	color: #adafb3;
}

.slide__discription p{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	margin-top: 11px;
	color: #49505a;
}

.slide__stars{
	margin-top: 23px;
}


.slide__selects{
	display: inline-block;
	width: 100%;
	font-size: 0;
	color: #797d84;
	margin-top: 25px;
	margin-left: 2px;
}

.slide__item-size{
	display: inline-block;
	max-width: 37.5%;
	width: 100%;
	margin-right: 2px;
	text-align: center;
	border: 1px solid #333d49;
}

.slide__item-qty{
	display: inline-block;
	max-width: 37.5%;
	width: 100%;
	margin-right: 20%;
	text-align: center;
	border: 1px solid #333d49;
	
}

.slide__select-n-size, .slide__select-n-qty{
	display: inline-block;
	width: 100; /* А в каких эдиницах задана ширина?*/
	margin: 9px;
	margin-bottom: 7px;
}

.slide__selects img, span{
	display: inline-block;
	margin: 0;
	font-size: 14px;
}

.slide__selects span{
	padding-right: 8px;
}

.slide__select-n-qty span{
	padding-right: 9px;
}

.slide__but-add{
	display: inline-block;
	max-width: 100%;
	width: 100%;
	margin-top: 29px;
	background: #202835;
	color: #797d84;
	font-size: 14px;
	text-align: left;
	padding-left: 51px;
	border: 1px solid #333d49;
	padding-top: 11.5px;
	padding-bottom: 12.5px;
	margin-left: 2px;
}